RewriteEngine on
# link generate to http://localhost/backup/webapps/backend
RewriteBase /backup/webapps/backend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php